@use 'mixins' as m; 

.initialize {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-family: "Inter", sans-serif;
    height: 75vh;
    min-height: 1100px;
    align-items: center;

    &-footage {
        z-index: 1;
        //background-color: red;
        @include m.flex(center, center, column);
        padding-right: 1rem;
        transform: translateY(80px);
        translate: clamp(10px, 2.5vw, 100px);
    }

    &-greet {
        display: flex;
        flex-direction: column;
        row-gap: 8rem;
        z-index: 1;
        min-width: 0;
        max-width: 100%;
    }
}

.greet-header {
    color: #fff;
    font-size: clamp(1rem, 4vw, 4.7rem);
    
    span {
        white-space: nowrap;
    } 

}

.greet-command {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}

.command-console,
.command-download {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem 1.2rem 1.1rem 2.5rem;
    border-top: 1px solid #ffffff2b;
    font-size: 1rem;
    font-family: monospace, sans-serif;

    //width: 100%;
    .greet-nav-icon {
        background-color: transparent;
        padding: 12px;
        border-radius: 50%;

        transition: background .175s ease-in;

        &:hover {
            background-color: rgba(104, 104, 104, 0.128);
        }
    }

    &::before {
        content: "$";
        @include m.center-absolute(48%, 3%);
        font-size: 1.15rem;
    }

    svg {
        position: relative;
        fill: transparent;
        stroke: #fff;
        display: block;
        width: 17px;
        height: 17px;
    }
}

.command-download {
    border-bottom: 1px solid #ffffff2b;
}

.footage-app {
    @include m.flex(end);
    //background-color: green;
    width: 100%;
    height: 100%;

    img {
        max-width: clamp(600px, 52vw, 920px);
        height: auto;
        display: block;
        width: 100%;
        //background-color: #fff
    }
}

.footage-advantage {
    @include m.flex(end, end, row);
    width: 100%;
    //background-color: red;
    place-items: center;
    transform: translateY(-30px);
    translate: clamp(10px, 2vw, 80px);

    .footage-pad {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: 1fr 1fr;
        min-width: 600px;
        width: 80%;
        place-items: center;
        gap: 2rem;
        //background-color: antiquewhite;

        .advantage-block {
            @include m.flex(center, center, column);
            color: #fff;
            width: 220px;
            height: 220px;
            text-align: center;


            //background-color: red;  
            .block-uppertext {
                font-size: 1.1rem;
                font-family: monospace;

            }

            .block-upperlower {
                font-size: clamp(.2rem, 1vw, .9rem);

            }

            .block-image {
                display: block;
                width: clamp(50px, 6vw, 100px);
                height: clamp(50px, 6vw, 100px);
            }


        }

        .advantage-block:nth-of-type(3) {
            .block-image {
                display: block;
                width: clamp(50px, 6vw, 80px);
                height: clamp(50px, 6vw, 87px);
            }
        }

    }

    .block-icon {
        height: auto;
        width: 100%;
        max-width: 100px;

        svg path {
            fill: #fff;
            color: #fff;
            stroke: #fff;
        }
    }
}

@include m.respond(tablet) {
    .initialize {
        grid-template-columns: 1fr;
    }

    .greet-header {
        font-size: clamp(3rem, 4vw, 4.7rem);
        width: auto;
        height: auto;
        place-self: center;
        text-align: center;


        span {
            white-space: normal;
        }
    }

    .greet-command {
        flex-direction: row;
    }

    .command-console,
    .command-download {
        width: 100%;
        border-bottom: 1px solid #ffffff2b;
    }


}

// @include m.respond(tablet) {
//     .initialize {
//         grid-template-columns: 1fr;
//     }

//     .greet-header {
//         font-size: clamp(3rem, 4vw, 4.7rem);
//         width: auto;
//         height: auto;
//         place-self: center;
//         text-align: center;

//         background-color: red;

//         span {
//             white-space: normal;
//         }
//     }

//     .greet-command {
//         flex-direction: row;
//     }

//     .command-console,
//     .command-download {
//         width: 100%;
//         border-bottom: 1px solid #ffffff2b;
//     }


// }