@use "mixins" as m;

.viewapp {
    @include m.flex(center, center, column);
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 20rem;

    &__text {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-size: clamp(.8rem, 3vw, 2rem);
        padding: 2rem 0;
        text-align: center;
        z-index: 1;

    }

    &__canvas {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(3, 1fr);
        z-index: 1;

        img {
            height: clamp(600px, 65vw, 1200px);
        }
    }
}