@use 'mixins' as m;

html {
    scrollbar-width: thin;
    scrollbar-color: #fff #111;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #5a4b4b;
}

#layout {
    --grid-opacity: 0.20;
    position: relative;
    min-height: 100vh;
    background-color: #000;
    padding: 0 var(--side-padding);
}

.nowrap {
    text-wrap: nowrap;
}

.set-anim-type1 {
    @include m.set-upop-anim(-35%); 
} 

.push-anim-type1 {
    @include m.push-upop-anim;
} 

.set-anim-type2 {
  @include m.set-blop-anim;
}

.push-anim-type2 {
  @include m.push-blop-anim;
} 

.word {
  @include m.set-word-reveal-anim;
}

.word.push-anim-type3 {
  @include m.push-word-reveal-anim;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 999px;
    border: 2px solid #111;
}

::-webkit-scrollbar-thumb:hover {
    background: #eaeaea;
}

@include m.respond(mobile) {
    :root {
        --side-padding: .4rem;
    }

}