@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
html,
body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 300vh;
    overflow-x: hidden;
    background-color: #f7f5f3;
}

#layout {
    position: relative;
    min-height: 300vh;
    background-color: #1b1b1b;
    padding: 0 var(--side-padding);
}